* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.button {
    background-color: transparent;
    border: 1px solid #3e1f58;
    padding: 12px 30px;
    color: #3e1f58;
    font-weight: 600;
}

img {
    display: block;
}

.p-r {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

ul {
    list-style: none;
}
